@font-face{
  font-family:'digital-clock-font';
  src: url('fonts/7segment.woff');
 }

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#analog {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
}

#analog > canvas {
  position: absolute;
}

#digital {
  font-family: digital-clock-font;
  
  color: darkred;
}